{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-532958-W');
</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>InOut 3.0 | Campus Evangelist Program</title>
  <meta property="fb:app_id" content="349176421957919"/>
  <meta property="og:title" content="InOut 3.0 | Aug 13-14 @ NIT Surat">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://hackinout.co/static/inout/images/fb-og.png">
  <meta property="og:url" content="https://hackinout.co">
  <meta property="og:description" content="InOut is one of India’s largest student run hackathon, characterized by remarkable rounds of intense coding and brainstorming! Come together for 30 hours with the brightest developers and designers to create something amazing.">
  <meta name="description" content="InOut 3.0: NIT Surat presents India's largest student run Hackathon">
  <meta name="keywords" content="hackathon, hackathon india, InOut, India, InOut svnit, svnit surat, nit surat, hackathon, gujarat, technology, startups, innovation, hacks"/>
  <meta name="author" content="WebDev Labs, NIT Surat"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index,follow"/>
	<meta name="revisit-after" content="2 days">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta http-equiv="cache-control" content="public"/>
  <meta http-equiv="expires" content="Fri, 10 June 2016, 00:00:00 GMT"/>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "inout/images/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "inout/images/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "inout/images/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "inout/images/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "inout/images/apple-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "inout/images/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "inout/images/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "inout/images/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "inout/images/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static "inout/images/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "inout/images/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "inout/images/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "inout/images/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "inout/images/manifest.json" %}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="http://cdn.rawgit.com/WebDevLabs-SVNIT/inout-campus/master/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
</head>
<body>

<header class="container-fluid header-banner">
	<h1 class="main-title">Campus Evangelist Program</h1>
	<img class="footer-bubbles" src="./../../static/inout/images/header-banner/assets-06.png" alt="bubbles" />
	<img class="animated-cloud cloud-1" src="./../../static/inout/images/header-banner/assets-02.png" alt="cloud" />
	<img class="animated-cloud cloud-2" src="./../../static/inout/images/header-banner/assets-02.png" alt="cloud" />
	<img class="img-responsive static-image" src="./../../static/inout/images/header-banner/assets-07.png" alt="Campus Envangelist Program" />
</header>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<section class="section-1">
					<h2 class="main-title">About</h2>
					<p>InOut campus evangelist program is for the students who have a knack in programming and aspire to run or be a part of a club for the same. If you are a passionate individual with ambitious dreams and would like to work with talented group of tech loving people, then the opportunity is right for you. It is a platform where you can make a difference by contributing, but at the same time enhance your marketing skills &amp; expertise.</p>
					<p><img class="img-responsive" src="./../../static/inout/images/header-banner/assets-08.png" alt="about" /></p>
					<p>We are in search of a leader with keen interest in starting and building a community.</p>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bgl-blue">
	<div class="container">
		<section class="section-2">	
			<div class="row">
				<div class="col-md-8">
					<h2 class="sub-title">InOut Buzz</h2>
					<p>Give innovative ideas on your college-InOut binding. Engaging in On Ground publicity by putting up the posters in campus. Setting up on-campus activities to spread the word about event.</p>
				</div>
				<div class="col-md-4 text-right">
					<img class="img-responsive" src="./../../static/inout/images/header-banner/assets-03.png" alt="about" />
				</div>
			</div>
		</section>
	</div>
</div>

<div class="container-fluid">
	<div class="container">
		<section class="section-2">	
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="./../../static/inout/images/header-banner/assets-04.png" alt="about" />
				</div>
				<div class="col-md-8 text-right">
					<h2 class="sub-title">Find Amazing Hackers</h2>
					<p>Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program. Get us the most deserving stream of participants because we make every piece of tech into a plaything.</p>
				</div>
			</div>
		</section>
	</div>
</div>


<div class="container-fluid bgl-blue">
	<div class="container">
		<section class="section-2">	
			<div class="row">
				<div class="col-md-8">
					<h2 class="sub-title">Growth Hacking</h2>
					<p>Social media fosters communication. It is an ultimate equalizer giving out a voice and a platform to anyone willing to engage. Create the InOut buzz on Facebook and twitter handles of your institute and report to the Student Evangelist Coordinator for feedbacks and insights on every action.</p>
				</div>
				<div class="col-md-4 text-right">
					<img class="img-responsive" src="./../../static/inout/images/header-banner/assets-05.png" alt="about" />
				</div>
			</div>
		</section>
	</div>
</div>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<section class="section-1">
					<h2 class="main-title">Incentive</h2>
					<p><img class="img-responsive" src="./../../static/inout/images/header-banner/assets-09.png" alt="incentives" /></p>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bgl-blue">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<section class="section-3">
					<p class="sub-title">This is your chance, this is your rap.<br/>Stand Out as a leader!</p>
					<a href="https://docs.google.com/forms/d/1jaiS5saqGjvcQjvST3lihfjFrRugYGKw8JdatEXMKtA/viewform?edit_requested=true" class="btn btn-primary btn-apply">Apply Now</a>
				</section>
			</div>
		</div>
	</div>
</div>

<footer id="footer"></footer>
<!-- Java Script -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"
></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67591208-1', 'auto');
        ga('send', 'pageview');

        </script>
</body>
</html>