{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <script>
    !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
    arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
    d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
    insertBefore(d,q)}(window,document,'script','_gs');
    _gs('GSN-532958-W');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InOut 3.0 | Live</title>
    <meta property="fb:app_id" content="349176421957919"/>
    <meta property="og:title" content="InOut 3.0 | Aug 13-14 @ NIT Surat">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://hackinout.co/static/inout/images/fb-og.png">
    <meta property="og:url" content="https://hackinout.co">
    <meta property="og:description" content="InOut is one of India’s largest student run hackathon, characterized by remarkable rounds of intense coding and brainstorming! Come together for 30 hours with the brightest developers and designers to create something amazing.">
    <meta name="description" content="InOut 3.0: NIT Surat presents India's largest student run Hackathon">
    <meta name="keywords" content="hackathon, hackathon india, InOut, India, InOut svnit, svnit surat, nit surat, hackathon, gujarat, technology, startups, innovation, hacks"/>
    <meta name="author" content="WebDev Labs, NIT Surat"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="2 days">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="cache-control" content="public"/>
    <meta http-equiv="expires" content="Fri, 10 June 2016, 00:00:00 GMT"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "inout/images/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "inout/images/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "inout/images/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "inout/images/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "inout/images/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "inout/images/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "inout/images/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "inout/images/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "inout/images/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "inout/images/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "inout/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "inout/images/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "inout/images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "inout/images/manifest.json" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static "inout/stylesheets/campus.css" %}">
    <link rel="stylesheet" href="{% static "inout/stylesheets/guide.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{% static "inout/stylesheets/styles.css" %}">
    <style>
    </style>
</head>
<body>
    <div class="container-fluid main_header">
        <div class="container">
            <div class="row top-menu">
                <div class="col-lg-3">
                    <a href="https://hackinout.co"><img src="./../../static/inout/images/tracks/logo_InOut.png" alt="" /></a>
                </div>
                <div class="col-lg-5 col-lg-offset-1 hidden-sm hidden-sm">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="guide">
                        <li role="presentation"><a href="#prizes" class="active" aria-controls="prizes" role="tab" data-toggle="tab">Prizes</a></li>
                        <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
                        <li role="presentation"><a href="#judges" aria-controls="judges" role="tab" data-toggle="tab">Judges</a></li>
                        <li role="presentation"><a href="#submit" aria-controls="submit" role="tab" data-toggle="tab">Submit hack</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <p class="inout-version"> <span class="version" style="display: inline-block;">Third-edition</span>&nbsp;&nbsp;hackinout.co</p>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-sm-8 col-sm-offset-2 hidden-lg hidden-md">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="guide">
                        <li role="presentation" class="active"><a href="#prizes" aria-controls="prizes" role="tab" data-toggle="tab">Prizes</a></li>
                        <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
                        <li role="presentation"><a href="#judges" aria-controls="judges" role="tab" data-toggle="tab">Judges</a></li>
                        <li role="presentation"><a href="#submit" aria-controls="submit" role="tab" data-toggle="tab">Submit hack</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="prizes">
            <!-- <Prize section starts here -->
            <div class="container-fluid bg-main">
                <div class="container">
                    <section class="section-2">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-4">
                                <img class="img-responsive" src="./../../static/inout/images/guide/prize.png" alt="about" />
                                <h2 class="sub-title">We have amazing prizes for you.</h2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <section class="section-2">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="prize_section">
                                    <h2 class="prize_title text-center">GRAND PRIZE</h2>
                                    <ul class="prize_details">
                                        <li>
                                            3x Kindle
                                        </li>
                                        <li>
                                            3x Intel Edison
                                        </li>
                                        <li>
                                            3x GitHub Gift Card
                                        </li>
                                        <li>
                                            Access to Accelerate Programme - SendGrid
                                        </li>
                                        <li>
                                        <li>
                                            Job/Internship - PushCrew(Wingify Product)
                                        </li>
                                        <li>
                                            3x Basic Plan for a Year - UXPin
                                        </li>
                                        <li>
                                            Wolfram|Alpha + One year subscription
                                        </li>
                                        <li>
                                            3x $100 Digitalocean Credits
                                        </li>
                                        <li>
                                            3x Branch Kits
                                        </li>
                                        <li>
                                            IntelliJ IDEA Ultimate - JetBrains
                                        </li>
                                        <li>
                                            3x Master Account and swags - Iconscout  
                                        </li>
                                        <li>
                                            3x Meteor Swag Bag
                                        </li>
                                        
                                        <li>
                                            3x Udacity Swags
                                        </li>
                                        <li>
                                            Ultra Swag bundle
                                        </li>
                                    </ul>
                                </div>
                                <div class="prize_section">
                                    <h2 class="prize_title text-center">Second position</h2>
                                    <ul class="prize_details">
                                        <li>
                                            3x JBL Flip II Portable Bluetooth Speaker
                                        </li>
                                        <li>
                                            3x $100 Digitalocean Credits
                                        </li>
                                        <li>
                                            Access to Accelerate Programme - SendGrid
                                        </li>
                                        <li>
                                            3x Basic Plan for a Year - UXPin
                                        </li>
                                        <li>
                                            Wolfram|Alpha + One year subscription
                                        </li>
                                        <li>
                                            3x Branch Kits
                                        </li>
                                        <li>
                                            3x Meteor Swag Bag
                                        </li>
                                        <li>
                                            3x Udacity Swags
                                        </li>
                                        <li>
                                            Giga Swag bundle
                                        </li>
                                    </ul>
                                </div>
                                <div class="prize_section">
                                    <h2 class="prize_title text-center">Third Position</h2>
                                    <ul class="prize_details">
                                        <li>
                                            3x Particle kits
                                        </li>
                                        <li>
                                            3x Udacity Swags
                                        </li>
                                        <li>
                                            3x Onion Omega Kits
                                        </li>
                                         <li>
                                            3x $100 Digitalocean Credits
                                        </li>
                                        <li>
                                            Access to Accelerate Programme - SendGrid
                                        </li>
                                        <li>
                                            3x Basic Plan for a Year - UXPin
                                        </li>
                                        <li>
                                            Wolfram|Alpha + One year subscription
                                        </li>
                                        <li>
                                            3x Branch Kits
                                        </li>
                                        <li>
                                            3x Meteor Swag Bag
                                        </li>
                                        <li>
                                            3x Udacity Swags
                                        </li>
                                         <li>
                                            Mega Swag bundle
                                        </li>
                                    </ul>
                                </div>
                                <div class="prize_section">
                                    <h2 class="prize_title text-center">Best Hardware Hack</h2>
                                    <ul class="prize_details">
                                    <h2 class="prize_sub_title text-center">First Prize</h2>
                                        <li>
                                            3x Freescale Freedom Dev Board
                                        </li>
                                        <li>    
                                            3x Hackster.io Swag
                                        </li>
                                        <h3 class="prize_sub_title text-center">Second Prize</h2>
                                        <li>
                                        3x Sparkfun FreeSoC2
                                        </li>
                                        <li>
                                        3x Hackster.io Swag                                        
                                        </li>
                                        <h3 class="prize_sub_title text-center">Third Prize</h2>
                                        <li>
                                        3x Particle Photon
                                        </li>
                                        <li>
                                        3x Hackster.io Swag                                        
                                        </li>
                                    </ul>
                                </div>
                                <div class="prize_section">
                                    <h2 class="prize_title text-center">Everyone</h2>
                                    <ul class="prize_details">
                                        <li>
                                            <!-- 3 month iconscout subsciption - Twitter -->
                                        </li>
                                        <li>
                                            <!-- 1 month invision subscription - Chameleon -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <!-- prize section ends here -->
        </div>
        <div role="tabpanel" class="tab-pane" id="resources">
            <!-- Hardware section starts here -->
            <div class="container-fluid bg-main">
                <div class="container">
                    <section class="section-2">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-4">
                                <img class="img-responsive" src="./../../static/inout/images/guide/resources.png" alt="about" />
                                <h2 class="sub-title">We have amazing resources for you.</h2>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <section class="section-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="resources_hardware">
                                    <h2 class="resources_title text-left">Hardware</h2>
                                    <p class="section__content--text">Yes! Our hardware lab will be stocked with parts to build your project.
Tentative hardware list:</p>
                                    
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2 device_list">
                                            <ul class="list-group">
                                                <li class="list-group-item"> 3D Printer</li>
                                                <li class="list-group-item">AccelroGyro MPU6050</li>
                                                <li class="list-group-item">Amazon Echo</li>
                                                <li class="list-group-item">Arduino 101</li>
                                                <li class="list-group-item">Arduino Ethernet Shield</li>
                                                <li class="list-group-item"> Arduino MKR1000</li>
                                                <li class="list-group-item"> Arduino UNO</li>
                                                <li class="list-group-item">Common Parts (Resistor, LEDs, etc)</li>
                                                <li class="list-group-item"> Compass HMC5883L</li>
                                                <li class="list-group-item"> Intel Edison</li>
                                                <li class="list-group-item"> Leap Motion</li>
                                                <li class="list-group-item">Microsoft Kinect</li>
                                                <li class="list-group-item">Mouser + Hackster ScrewDriver</li>
                                                
                                                <li class="list-group-item"> NodeMCU</li>
                                                <li class="list-group-item">NXP Boards</li>
                                                <li class="list-group-item">Onion Board</li>
                                                <li class="list-group-item">Particle Photon</li>
                                                <li class="list-group-item">Power Bank (Microsoft Azure)</li>
                                                <li class="list-group-item">Raspberry Pi Camera</li>
                                                <li class="list-group-item">Sensor Kit</li>
                                                <li class="list-group-item">Sparkfun FreeSOCS</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="resources_section api">
                                    <h2 class="resources_title text-left">Services</h2>
                                    <ul>
                                        <li>
                                            <p class="service_detail">6 months free subsciption by invision <br> Activiate here : https://www.invionapp.com/signup Promo Code: INV-inout
                                            </p>
                                        </li>
                                        <li>
                                            <p class="service_detail">3 Month free Discout subscription by lconscout<br> Activiate here : http://iconscout.com/hackathon Promo code: Please check your Codecard.
                                            </p>
                                        </li>
                                        <!-- <li>
                                            <p class="service_detail">3 Month free Discout subscription by lconscout <br> Activiate here : https://www.iconscout.com Promo code: Please check your Codecard.
                                            </p>
                                        </li> -->
                                        <!-- <li>
                                            <p class="service_detail">Access to Accelerate programme by SendGrid <br> Activiate here : https://sendgrid.com/accelerate
                                            </p>
                                        </li> -->
                                        <li>
                                            <p class="service_detail">$15 credits by DigitalOcean <br> Promo Code: INOUT2016
                                            </p>
                                        </li>
                                        <!-- <li>
                                            <p class="service_detail">One year of Wolfram Development Platform by Wolfram Research<br> Activiate here : https://
                                            </p>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="resources_service">
                                    <h2 class="resources_title text-left api">API</h2>
                                    <div class="row apidetail">
                                        <div class="col-md-2 text-left">
                                            <img src="./../../static/inout/images/SponsorLogos/logo_branch.png" width="200px" class="img-responsive text-center" />
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <ul class="api_details">
                                                <li>
                                                    Branch Kit.
                                                </li>
                                                <li>
                                                    <a href="http://dev.branch.io/" class="btn">API DOCS</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <img src="./../../static/inout/images/SponsorLogos/logo_wingify.png" width="" class="img-responsive text-center" />
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <ul class="api_details">
                                                    <li>
                                                        Job/Internship Offers.
                                                    </li>
                                                    <li>
                                                    <a href="http://api.pushcrew.com/" class="btn">API DOCS</a </li>
                                                </ul>
                                            </div>
                                        </div>


                                        


                                        <div class="row apidetail">
                                            <div class="col-md-2 text-left">
                                                <img src="./../../static/inout/images/SponsorLogos/logo_razorpay.png" width="" class="img-responsive text-center" />
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <ul class="api_details">
                                                    <li>
                                                        One lakh credits.
                                                    </li>
                                
                                                    <li>
                                                        <a href="https://docs.razorpay.com/" class="btn">API DOCS</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-2 text-left">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_hp.png" width="" class="img-responsive text-center" />
                                                </div>
                                                <div class="col-md-4 text-right">
                                                    <ul class="api_details">
                                                        <li>
                                                            GoPro Camera.
                                                        </li>
                                            
                                                        <li>
                                                            <a href="https://dev.havenondemand.com/apis" class="btn">API DOCS</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row apidetail">
                                                    <div class="col-md-2 text-left">
                                                        <img src="./../../static/inout/images/SponsorLogos/logo_exotel.png" width="" class="img-responsive text-center" />
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <ul class="api_details">
                                                            <li>
                                                                GoPro Camera.
                                                            </li>
                                                           
                                                            <li>
                                                                <a href="" class="btn">API DOCS</li></a>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-2 text-left">
                                                            <img src="./../../static/inout/images/SponsorLogos/logo_tweet.png" width="100px" class="img-responsive text-center" />
                                                        </div>
                                                        <div class="col-md-4 text-right">
                                                            <ul class="api_details">
                                                                <li>
                                                                    T-Shirts, and a bluetooth speaker.
                                                                </li>
                                                                <li>
                                                                    <a href="https://get.fabric.io/" class="btn">API DOCS</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="row apidetail">
                                                    <div class="col-md-2 text-left">
                                                        <img src="./../../static/inout/images/SponsorLogos/logo_wolfram_language.png" width="200px" class="img-responsive text-center" />
                                                    </div>
                                                    <div class="col-md-4 text-right">
                                                        <ul class="api_details">
                                                            <li>
                                                                One year of Wolfram Development Platform.
                                                            </li>
                                                            <li>
                                                                One year of Wolfram Mathematica Student Edition. 
                                                            </li>
                                                            <li>
                                                                One year subscription to Wolfram Computational Knowledge Engine, Wolfram | Alpha
                                                            </li>
                                                            <li>
                                                                <a href="www.wolfram.com/development-platform" class="btn">API DOCS</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- <div class="col-md-2 text-left">
                                                            <img src="./../../static/inout/images/SponsorLogos/logo_wingify.png" width="" class="img-responsive text-center" />
                                                        </div>
                                                        <div class="col-md-4 text-right">
                                                            <ul class="api_details">
                                                                <li>
                                                                    Job/Internship Offers.
                                                                </li>
                                                                <li>
                                                                <a href="http://api.pushcrew.com/" class="btn">API DOCS</a </li>
                                                            </ul>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!-- Hardware section ends here -->
                        <!-- </div> -->
                        <div role="tabpanel" class="tab-pane" id="judges">
                            <!-- Judge section starts here -->
                            <div class="container-fluid bg-main">
                                <div class="container">
                                    <section class="section-2">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <img class="img-responsive" src="./../../static/inout/images/guide/judge.png" alt="about" />
                                                <h2 class="sub-title">We are proud to have awesome judge.</h2>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="container">
                                    <section class="section-2">
                                        <div class="row judge_section">
                                            <div class="col-lg-4 col-sm-6 text-center>
                                                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/725670144005918721/_-ed7bl7.jpg" alt="">
                                                <h3><a href="https://twitter.com/captn3m0" target="_blank">Abhay Rana</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_razorpay.png" class="img-responsive text-center"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center>
                                                <img class="img-circle img-responsive img-center" src="./../../static/inout/images/guide/aman_alam.png" alt="">
                                                <h3><a href="https://twitter.com/AmanAlam" target="_blank">Aman Alam</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_tweet.png" class="img-responsive text-center logo_twitter"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="./../../static/inout/images/guide/Dushyantsinh_ Jadeja.png" alt="">
                                                <h3><a href="https://twitter.com/JadejaDA" target="_blank">Dushyantsinh Jadeja</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="http://gdgnitsurat.in/images/logo_google.png" class="img-responsive text-center logo_google"/>
                                                </span>
                                            </div>
                                            
                                        </div>
                                        <div class="row judge_section">
                                            
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/762994173838372865/Ri7Ve_2X_400x400.jpg" alt="">
                                                <h3><a href="https://twitter.com/ghoha" target="_blank">Gautam Bhasin</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_hp.png" class="img-responsive text-center"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="./../../static/inout/images/guide/nikhilkumar.jpg" alt="">
                                                <h3><a href="https://twitter.com/nikhilkumarks" target="_blank">Nikhil Kumar</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_exotel.png" class="img-responsive text-center logo_exotel"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/544025497227640833/PPiTt2O__400x400.jpeg" alt="">
                                                <h3><a href="https://twitter.com/jub_in" target="_blank">Jubin Mehta</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_yourstory.jpg" class="img-responsive text-center"/>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row judge_section">
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="https://shashankmehta.in/images/dp.jpeg" alt="">
                                                <h3><a href="https://twitter.com/leostatic" target="_blank">Shashank Mehta</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_razorpay.png" class="img-responsive text-center"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="./../../static/inout/images/guide/Shishir_Misra.JPG" alt="">
                                                <h3><a href="" target="_blank">Shishir Misra</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_hp.png" class="img-responsive text-center"/>
                                                </span>
                                            </div>
                                            <div class="col-lg-4 col-sm-6 text-center">
                                                <img class="img-circle img-responsive img-center" src="https://pbs.twimg.com/profile_images/690252121220845569/P1X1epjB_400x400.jpg" alt="">
                                                <h3><a href="https://twitter.com/shetty_sidd" target="_blank">Siddharth Shetty</a>
                                                </h3>
                                                <span class="logo_company">
                                                    <img src="./../../static/inout/images/SponsorLogos/logo_exotel.png" class="img-responsive text-center logo_exotel"/>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </section>
                                </div>
                            </div>
                            <!-- Judges section ends here -->
                        </div>
                        <div role="tabpanel" class="tab-pane " id="submit">
                            <div class="container-fluid bg-main">
                                <div class="container">
                                    <section class="section-2">
                                        <div class="row">
                                            <div class="col-md-5 col-md-offset-2">
                                                <img class="img-responsive" src="./../../static/inout/images/guide/submit.png" alt="about">
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <p class="section__content--text" style="color:#fff !important">Ready to show your hack? <br> Done with coding?
                                                <br>Pushed your project to GitHub?</p>
                                                <a href="http://inout2016.devpost.com/" class="submit_btn btn" target="_blank">Submit</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-fluid bgl-main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <section class="section-3">
                                        <p class="footer-title">We are waiting for your amazing hacks!!</p>
                                        <img class="logo-footer" src="./../../static/inout/images/tracks/logo_InOut.png" alt="Campus Envangelist Program" />
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="section--footer">
                        <div class="container-fluid footer--content">
                            <div class="row">
                                <div class="col-lg-4 col-xs-12">
                                    <p class="footer--text">Contact : <a href="mailto:mail@hackinout.co">mail@hackinout.co</a></p>
                                </div>
                                <div class="col-lg-4 col-xs-12">
                                    <p class="footer--text"> <i class="fa fa-code"></i> with <i class="fa fa-heart beating-heart beat-the-heart"></i> at <a href="https://www.facebook.com/webdevlabs" target="_blank" title="WebDev Labs on facebook">WebDev Labs</a></p>
                                </div>
                                <div class="col-lg-4 col-xs-12">
                                    <p class="footer--text"> <a href="http://hackcodeofconduct.org/inout" target="_blank">Code of Conduct</a></p>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- Java Script -->
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"
                    ></script>
                    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script type="text/javascript">
                        $('#guide a').click(function(e) {
                        e.preventDefault()
                        $(this).tab('show')
                        })
                        $('#guide a[href="#home"]').tab('show') // Select tab by name
                        $('#guide a[href="#Resources"]').tab('show') // Select first tab
                        $('#guide a[href="#messages"]').tab('show') // Select last tab
                        $('#guide a[href="settings"]').tab('show') // Select third tab (0-indexed)
                    </script>
                    <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', 'UA-67591208-1', 'auto');
                    ga('send', 'pageview');
                    </script>
                </body>
            </html>