{% extends "base.html" %}
{% block content %}

<!-- Home Section   -->
  <div class="section--home" id="inout">

        <div class="bg-pattern-back">
            <div class="bg-pattern-front">
                <div class="bg-gradient">

    <ul class="section--home__social_links">
      <li><a href = "https://twitter.com/inout_svnit" target = "_blank"><i class="fa fa-twitter fa-2x social_icon"></i></a></li>
      <li><a href = "https://www.facebook.com/inout.svnit" target = "_blank"><i class="fa fa-facebook fa-2x social_icon"></i></a></li>
      <li><a href = "https://medium.com/@InOut" target = "_blank"><i class="fa fa-medium fa-2x social_icon"></i></a></li>
      </ul> <!-- End of social_links -->
     <!--  <img src="images/pattern_brackets_home.png" alt="Brackets all over" class = "section--home__pattern_brackets"> -->
      <div class="section--home__logo"></div>
      <!-- Apply now button -->
          {% if user and not app_status %}
          <div class = "section--home__button_apply">Under review</div>
          {% elif user and app_status %}
          <div class = "section--home__button_apply">Approved</div>
          {% else %}
          <a class = "section--home__button_apply" href="{% url 'new' %}">APPLY NOW</a>
          {% endif %}
      <h3 class="section--home__heading_location">13-14 AUGUST, NIT SURAT</h3>


        </div><!-- .bg-gradient -->
    </div>       <!-- .bg-pattern-front -->
 </div>      <!-- .bg-pattern-back -->



    </div>



    <!-- End of Home Section -->
{% endblock %}

{% block about %}
<!-- About Section -->
<div class="section--about">
  <div class="section__content">
    <h1 class="section__heading--about">WHAT IS INOUT</h1>
    <p class="section__content--text">
      Mathematically,<br/>
      <span class="section__content--text__code">InOut = ( 300 makers + 30 hours ) * ( caffeine + ideas ) / 42.0</span>
    </p>
    <p class="section__content--text">
      InOut is one of India’s largest student run hackathon. Twice a year the best developers, designers and hardware enthusiasts from across India gather at NIT Surat to innovate and build on an idea. This third edition of InOut will span for 30 hours over the course of the second weekend of August. Food and swags are on us.
    </p>
    <p class="section__content--text">
      All in all InOut is a great place to make both amazing friends and something that makes a difference.
    </p>
    <p class="section__content--text">
      InOut 2.0 was blast. <a href="https://www.facebook.com/inout.svnit/photos" target="_blank">Checkout all the fun you missed :)</a>.
    </p>
  </div>
</div>
<!-- End of About Section -->
{% endblock %}


{% block faq %}
<!-- Faq Section -->
<div class="section--faq">
  <div class="section__content">
    <h1 class="section__heading--faq">FREQUENTLY ASKED QUESTIONS</h1>
    <div class="container">
      <div class="col-lg-10 col-sm-10">

        <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What if I don't have a team or an idea?
              </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                If you don’t have a team now, don’t stress! We’ll have team formation and ideation events geared towards helping you find people to work with.
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <!-- end of panel -->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How much will it cost?
              </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Zero. Zip. Zilch. Nada. Nothing. InOut is free for all accepted hackers. We'll provide you with a weekend's worth of swag, meals, drinks, and snacks and a place to crash when you need a break from coding.
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                When does registration open?
              </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Registration will open on Sept. 15th 12:00am IST and will close on Oct. 18th 23:59pm IST. If you are accepted, you’ll have five days to confirm your attendance. Do Sign up for our updates!
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What's the application process like?
              </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                We're looking for creative and innovative people with a set of skills that can contribute to a project. We generally prefer people that have proven their abilities in previous projects, evident through Github links, project descriptions, or participation/awards in other hackathons.
              </div>
            </div>
          </div>
          <!--       end of panel
          -->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What about accommodation?
              </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                We’ve made special arrangements for subsidized accommodation arrangements. The rates per person per day are as follows:
              </div>
            </div>
          </div>
          <!-- end of panel -->
        </div>
        <!-- end of #accordion -->
      </div>
      <!-- end of wrap -->
    </div>
  </div>
</div>
<!-- End of FAQ Section -->
{% endblock %}

{% block schedule %}
 <!-- Schedule Section -->
 <div class="section--schedule">
   <div class="section__content">
     <h1 class="section__heading--schedule">SCHEDULE</h1>
     <div class="row">
       <div class="col-lg-6 schedule">
         <span class="schedule__heading--left">August 13, Saturday</span>
         <ul class="schedule__list">

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">09:00AM</span><span class="schedule__item__event">Registrations</span></li>

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">10:00AM</span><span class="schedule__item__event">Breakfast</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">11:00AM</span><span class="schedule__item__event">Kickoff</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">02:00PM</span><span class="schedule__item__event">Lunch</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">05:00PM</span><span class="schedule__item__event">Tech Talk</span></li>

           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00PM</span><span class="schedule__item__event">Dinner</span></li>

         </ul>
       </div>
       <div class="col-lg-6 schedule">
         <span class="schedule__heading--right">August 14, Sunday</span>
         <ul class="schedule__list">
           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">02:00AM</span><span class="schedule__item__event">Night Party</span></li>

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00AM</span><span class="schedule__item__event">Breakfast</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">12:00PM</span><span class="schedule__item__event">Lunch</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">05:00PM</span><span class="schedule__item__event">Hacking stops</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">06:30PM</span><span class="schedule__item__event">Judging Begins</span></li>

           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00PM</span><span class="schedule__item__event">Goodybe!</span></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <!-- End of Schedule Section -->
{% endblock %}

{% block sponsor %}
<!-- Sponsors Section -->
<div class="section--sponsors">
  <div class="section__content">
    <p class="section__content--text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </p>
  </div>
</div>
<!-- End of Sponsors Section -->
{% endblock %}
