{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Home Section   -->
  <div class="section--home" id="inout">

        <div class="bg-pattern-back">
            <div class="bg-pattern-front">
                <div class="bg-gradient">

    <ul class="section--home__social_links">
      <li><a href = "https://twitter.com/inout_svnit" target = "_blank"><i class="fa fa-twitter fa-2x social_icon"></i></a></li>
      <li><a href = "https://www.facebook.com/inout.svnit" target = "_blank"><i class="fa fa-facebook fa-2x social_icon"></i></a></li>
      <li><a href = "https://medium.com/@InOut" target = "_blank"><i class="fa fa-medium fa-2x social_icon"></i></a></li>
      </ul> <!-- End of social_links -->
     <!--  <img src="images/pattern_brackets_home.png" alt="Brackets all over" class = "section--home__pattern_brackets"> -->
      <div class="section--home__logo"></div>
      <!-- Apply now button -->
        
          <a class = "section--home__button_apply" id="doregister" class="text-uppercase"  data-toggle="modal" data-target=".modal-signup">APPLY NOW</a>

      <h3 class="section--home__heading_location">AUGUST 13-14, 2016 | NIT SURAT</h3>

<div class="row">
<div class="col-lg-12 col-xs-12 modal fade modal-signup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content col-lg-12">
      <div class="row">
        <div class="col-lg-5 col-xs-12 welcome">

          <h1 class="modal--heading">Welcome Hackers</h1>
            <ul class="list-unstyled">
            <li>Blend in with 500+ Hackers.</li>
            <li>Code in Frolic for 30 hours.</li>
            <li>Befriend your like minded.</li>
            <li>Join the loot of Unlimited Swags.</li>
            <li> Listen to best of the Tech Talks.</li>
            <li>And unlock more surprises...</li>
            </ul>
        </div>
        <div class="col-lg-7 register">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <div class="col-lg-10"> -->
        <center><img src="./../../static/inout/images/RegisterYourSelf.png" width="50%"></center>
        
          <h1 class="modal--heading">Register your team</h1>
    <!-- </div> -->
    <!-- <div class="col-lg-2"> -->
        
       <!--  </div> -->

            <form method="post" action="/new/" class="bootstrap3 text-center col-lg-10 col-lg-offset-1 col-sm-6 col-sm-offset-3 col-xs-12" enctype="multipart/form-data">
  {% csrf_token %}
{{ form|crispy}}
<center>
<input class="btn btn-primary text-uppercase" id="signup_submit" type="button" onclick="submitForm()" value="REGISTER">
</center>
</form> 
                    <!--  </form> -->
        </div>
      </div>



      </div>
    </div>
  </div>

  </div>
<!-- form end -->


        </div><!-- .bg-gradient -->
    </div>       <!-- .bg-pattern-front -->
 </div>      <!-- .bg-pattern-back -->

    </div>

    <!-- End of Home Section -->
{% endblock %}

{% block about %}
<!-- About Section -->
<div class="section--about">
  <div class="section__content">
    <h1 class="section__heading--about">WHAT IS INOUT?</h1>
    <p class="section__content--text">
      Mathematically,<br/>
      <span class="section__content--text__code">InOut = ( 500 makers + 30 hours ) * ( caffeine + ideas ) / 42.0</span>
    </p>
    <br>
    <p class="section__content--text">
      InOut is one of India’s largest student run hackathon. Twice a year the best developers, designers and hardware enthusiasts from across India gather at NIT Surat to innovate and build on an idea. This third edition of InOut will span for 30 hours over the course of the second weekend of August.
    </p>
    <br>
    <p class="section__content--text">
    Whether you’re writing your first lines of HTML, building a VR app or a hoverboard. InOut is just the place for you. We will have great workshops and mentors to help make your idea happen. You will be able to show your skills without getting worried about any mortal needs. We will take care of everything.
    </p>
    <br>
    <p class="section__content--text">
      All in all InOut is a great place to make both amazing friends and something that makes a difference.
    </p>
    <p class="section__content--text">
      InOut 2.0 was blast. <a href="https://www.facebook.com/inout.svnit/photos" target="_blank">Checkout all the fun you missed :)</a>
    </p>
  </div>
</div>
<!-- End of About Section -->
{% endblock %}


{% block faq %}
<!-- Faq Section -->
<div class="section--faq">
  <div class="section__content xscol">
    <h1 class="section__heading--faq">FREQUENTLY ASKED QUESTIONS</h1>
    <div class="container">
      <div class="col-lg-10 col-sm-10">

        <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQOne" aria-expanded="false" aria-controls="FAQOne">
                What if I don't have a team or an idea?
              </a>
              </h4>
            </div>
            <div id="FAQOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                If you don’t have a team now, don’t stress! We’ll have team formation and ideation events geared towards helping you find people to work with.
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <!-- end of panel -->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQTwo" aria-expanded="false" aria-controls="FAQTwo">
                How much will it cost?
              </a>
              </h4>
            </div>
            <div id="FAQTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Zero. Zip. Zilch. Nada. Nothing. InOut is free for all accepted hackers. We'll provide you with a weekend's worth of swag, meals, drinks, and snacks and a place to crash when you need a break from coding.
              </div>
            </div>
          </div>
          <!-- end of panel -->
         
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQFour" aria-expanded="false" aria-controls="FAQFour">
                What's the application process like?
              </a>
              </h4>
            </div>
            <div id="FAQFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                We're looking for creative and innovative people with a set of skills that can contribute to a project. We generally prefer people that have proven their abilities in previous projects, evident through GitHub links, project descriptions, or participation/awards in other hackathons.
              </div>
            </div>
          </div>
          <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQFive" aria-expanded="false" aria-controls="FAQFive">
                How big can a team be?
              </a>
              </h4>
            </div>
            <div id="FAQFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                This hackathon is strictly a team competition. No lone crusaders please. <b>Max team size : 3 members.</b>
              </div>
            </div>
          </div>
          <!-- end of panel -->

           <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="headingSIX">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQSIX" aria-expanded="false" aria-controls="FAQSIX">
                Do you give travel reimbursements?
              </a>
              </h4>
            </div>
            <div id="FAQSIX" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSIX">
              <div class="panel-body">
                We will provide travel reimbursements post review by our organization committee. Keep your eyes peeled on this FAQ answer for more details!
              </div>
            </div>
          </div>
          <!-- end of panel -->
           <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading7">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ7" aria-expanded="false" aria-controls="FAQ7">
               What about accommodation?
              </a>
              </h4>
            </div>
            <div id="FAQ7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
              <div class="panel-body">
                We’ve made special arrangements for subsidized accommodation in case you're arriving a day before the event.
              </div>
            </div>
          </div>
          <!-- end of panel -->
           <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading8">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ8" aria-expanded="false" aria-controls="FAQ8">
                When does registration open?
              </a>
              </h4>
            </div>
            <div id="FAQ8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
              <div class="panel-body">
               Registration will open on June 12th 10:00pm IST and will close on July 12th 23:59pm IST. If you are accepted, you’ll have five days to confirm your attendance.
              </div>
            </div>
          </div>
          <!-- end of panel -->
           <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading9">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ9" aria-expanded="false" aria-controls="FAQ9">
               Who can attend?
              </a>
              </h4>
            </div>
            <div id="FAQ9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
              <div class="panel-body">
              All undergraduate, graduate, and high school students are welcome. If you are under 18, we’ll need a parental consent form.
              </div>
            </div>
          </div>
          <!-- end of panel -->
           <!--       end of panel-->
           <div class="panel">
            <div class="panel-heading" role="tab" id="heading13">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ13" aria-expanded="false" aria-controls="FAQ13">
              I'm not a student, so how can I get involved?
              </a>
              </h4>
            </div>
            <div id="FAQ13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
              <div class="panel-body">
              Unfortunately, we can't allow you to participate in the event or be on site during hacking. 
              If you're looking to be a mentor (i.e. someone with technical skills who'd be willing to help out participants during the weekend), 
              you should reach out to us at <a href="mailto:mentor@hackinout.co?subject=InOut%203.0%20Mentorship%20Inquiry">mentor@hackinout.co</a> 
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading10">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ10" aria-expanded="false" aria-controls="FAQ10">
              Once I get accepted, what do I need to bring?
              </a>
              </h4>
            </div>
            <div id="FAQ10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
              <div class="panel-body">
                Your valid student ID, laptop, phone, chargers, any sleeping equipment you might want (we'll be providing mattresses) and nerdy t-shirt!
              </div>
            </div>
          </div>
          <!-- end of panel -->
           <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading11">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ11" aria-expanded="false" aria-controls="FAQ11">
              What do I get by attending InOut?
              </a>
              </h4>
            </div>
            <div id="FAQ11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
              <div class="panel-body">
                Pretty much everything from socializing with fellow hacker community to internships/job offers from coolest tech companies. And yeah awesome prizes (worth ₹ 10,00,000) too!
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <!--       end of panel-->
          <div class="panel">
            <div class="panel-heading" role="tab" id="heading12">
              <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#FAQ12" aria-expanded="false" aria-controls="FAQ12">
              What if this FAQ didn’t answer my questions?
              </a>
              </h4>
            </div>
            <div id="FAQ12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
              <div class="panel-body">
                Please email us at <a href="mailto:mail@hackinout.co?subject=InOut%203.0%20General%20Inquiry">mail@hackinout.co</a> if you have any concerns at all! We’re friendly, and we’d love to help you out!
              </div>
            </div>
          </div>
          <!-- end of panel -->
          <!--       end of panel-->

          <!-- end of panel -->
        </div>
        <!-- end of #accordion -->
      </div>
      <!-- end of wrap -->
    </div>
  </div>
</div>
</div>
</div>
<!-- End of FAQ Section -->
{% endblock %}

{% block schedule %}
 <!-- Schedule Section -->
 <div class="section--schedule">
   <div class="section__content">
     <h1 class="section__heading--schedule">SCHEDULE</h1>
     <div class="row">
       <div class="col-lg-6 schedule">
         <span class="schedule__heading--left">August 13, Saturday</span>
         <ul class="schedule__list">

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">09:00AM</span><span class="schedule__item__event">Registrations</span></li>

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">10:00AM</span><span class="schedule__item__event">Breakfast</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">11:00AM</span><span class="schedule__item__event">Kickoff</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">02:00PM</span><span class="schedule__item__event">Lunch</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">05:00PM</span><span class="schedule__item__event">Tech Talk</span></li>

           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00PM</span><span class="schedule__item__event">Dinner</span></li>

         </ul>
       </div>
       <div class="col-lg-6 schedule">
         <span class="schedule__heading--right">August 14, Sunday</span>
         <ul class="schedule__list">
           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">02:00AM</span><span class="schedule__item__event">Night Party</span></li>

           <li class="schedule__item--morning"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00AM</span><span class="schedule__item__event">Breakfast</span></li>

           <li class="schedule__item--noon"><i class="schedule__item__icon"></i><span class="schedule__item__time">12:00PM</span><span class="schedule__item__event">Lunch</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">05:00PM</span><span class="schedule__item__event">Hacking stops</span></li>

           <li class="schedule__item--evening"><i class="schedule__item__icon"></i><span class="schedule__item__time">06:30PM</span><span class="schedule__item__event">Judging Begins</span></li>

           <li class="schedule__item--night"><i class="schedule__item__icon"></i><span class="schedule__item__time">08:00PM</span><span class="schedule__item__event">Goodbye!</span></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <!-- End of Schedule Section -->
{% endblock %}

{% block sponsor %}
<!-- Sponsors Section -->
<!-- Sponsors Section -->
    <div class="section--sponsors">
      <div class="section__content sponsor">
       <center><h1 class="title text-center" >SPONSORS</h1>
     <p class="section__content--text"> Interested in becoming a sponsor? Email us at <a href="mailto:sponsor@hackinout.co?subject=InOut%203.0%20Sponsorship%20Inquiry">sponsor@hackinout.co</a>
    </p>
    </center>
      <div class="box">
<div class="row">
  <div class="one">
  <a href="https://www.facebook.com/" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_fbb.jpg" class="img-md" alt="logo Facebook" />
    </a>
    </div>
  </div>



  <div class="row">
  <div class="two">
  <a href="https://www.google.com/about/careers/students/" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_google.png" class="img-md" alt="logo Google" /></a>
    </div>
  
    <div class="two">
    <a href="https://wingify.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_wingify.png" class="img-md" alt="logo Wingify " />
    </a>
    </div>
    </div>


   <div class="row">
  <div class="two2">
  <a href="https://www.stickermule.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_stickermule.png" class="" alt="logo Stickermule" /></a>
    </div>
    
    <div class="two2">
    <a href="https://razorpay.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_razorpay.png" class="img-md" alt="logo Razorpay" /></a>
    </div>
    
    </div>
     


  <div class="row">
  <div class="five">
  <a href="https://gitlab.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_gitlab.png" class="logo_gitlab" alt="logo Gitlab" /></a>
  </div>

   <div class="five">
   <a href="https://www.digitalocean.com" target="_blank">
    <img src="https://www.digitalocean.com/assets/images/logos-badges/png/DO_Logo_Horizontal_Blue-3f9e8fb1.png" class="logo_do" alt="logo Digitalocean" /></a>
  </div>

  <div class="five">
  <a href="https://www.jetbrains.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_JetBrains.png" alt="logo JEtBrains" /></a>
  </div>

  <div class="five">
  <a href="https://branch.io" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_branch.png" class="img-md" alt="logo Branch Metrics" /></a>
  </div>

  <div class="five">
  <a href="https://www.rethinkdb.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_RethinkDB.png"" alt="logo RethinkDB" /></a>
  </div>

  </div>



<!--   row begins -->
  <div class="row">
  <div class="five">
  <a href="https://twitter.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_tweet.png" class="logo_tweeter" alt="logo Twitter" /></a>
  </div>
   <div class="five">
   <a href="https://github.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_github.png" class="logo_github" alt="logo Github" /></a>
  </div>
  <div class="five">
  <a href="https://www.meteor.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_meteor.png" class="logo_meteor" alt="logo Meteor" /></a>
  </div>
  <div class="five">
  <a href="https://www.wolfram.com/language/" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_wolfram_language.png" alt="logo Wolfram search" /></a>
  </div>
  <div class="five">
  <a href="https://keen.io" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_keen.png" class="logo_keen" alt="logo keen" /></a>
  </div>
  </div>


<div class="row">
  <div class="two">
  <a href="http://get.tech" target="_blank">
    <img src="./../static/inout/../../static/inout/images/SponsorLogos/logo_tech.png" class="img-md" alt="logo .tech" />
    </a>
    </div>
    <div class="two">
    <a href="https://kloudless.com" target="_blank">
    <img src="../../static/inout/../../static/inout/images/SponsorLogos/logo_kloudless.png" class="img-md" alt="logo kcloudless" />
    </a>
    </div>
    </div>


    <center><h1 class = "title">BRANDING PARTNER</h1></center>
     <div class="row">
  <div class="one">
  <a href="">
    <img src="./../../static/inout/images/SponsorLogos/logo_chameleon.png" class="logo_cl" alt="logo Chameleon" />
    </a>
    </div>
  </div>
    
      </div>
    </div>
    </div>
    <!-- End of Sponsors Section -->
<!-- End of Sponsors Section -->
{% endblock %}
