.section--sponsors{
  height : auto;
		
		padding: 20px;
	

		h1.title {
			@extend %section__heading;
			color  : #34495e;
			padding-top : 20px;
			@include when(XSMinus){
			margin-left:10px;
			font-size:3.5rem;
			text-align:left;
			}
		}

		.description {
			margin-bottom : 45px;
			text-align : center;
			.sponsor {
				display : inline-block;
				width : auto;
				height : 90px;
				margin : 30px;
				@media screen and (max-width : $third_breakpoint) {
					height : 60px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 40px;
				}
			}

			.prime_sponsor {
				@extend .sponsor;
				height : 120px;
				@media screen and (max-width : $third_breakpoint) {
					height : 80px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 60px;
				}
	
			}

			.platinum_sponsor {
				@extend .sponsor;
				height : 180px;
				@media screen and (max-width : $third_breakpoint) {
					height : 80px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 60px;
				}

			}

			.gold_sponsor {
				@extend .sponsor;
				height : 120px;
				@media screen and (max-width : $third_breakpoint) {
					height : 40px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 30px;
				}

			}

			.silver_sponsor {
				@extend .sponsor;
				height : 80px;
				@media screen and (max-width : $third_breakpoint) {
					height : 40px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 30px;
				}

			}

			.bronze_sponsor {
				@extend .sponsor;
				height : 50px;
				@media screen and (max-width : $third_breakpoint) {
					height : 40px;
				}
				@media screen and (max-width : $fourth_breakpoint) {
					height : 30px;
				}
			}
		}


		.content__sponsors {
			// @extend .inner_content;
			font-family : 'Source Sans Pro';
			font-size : 1.2em;
		}

		.extra_info {
			position : absolute;
			bottom : 20px;
			left : 50%;
			margin-left : -260px;
			@media screen and (max-width : $second_breakpoint) {
			}
			@media screen and (max-width : 410px) {
				margin-left  : -196px;
			}

		}

		p {
			  font-size : 1.5em;
    		padding-bottom : 1pc;
    		line-height : normal;
    		color : #FEC537;
    		text-align : center;
    		color : #303030;
    		margin-top : 40px;
			@media screen and (max-width : $second_breakpoint) {
				font-size : 1.5em;
			}
			@media screen and (max-width : 410px) {
				font-size : 1.2em;
			}

		}

		.button__contact {
			// @extend .button;

			line-height : 75px;
			width : 350px;
			//background: $color_button_contact;
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.33), inset 0px -3px 0px 0px rgba(0,0,0,0.21);
			font-family: Quicksand;
			font-size: 24px;
			text-shadow : 0px 1px rgba(0, 0, 0, 0.15);
			color : white;
			margin : 0 auto;
			margin-top : 10px;
			transition : all 0.15s;

			&:hover {
				box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.4), inset 0px -3px 0px 0px rgba(0,0,0,0.21);
				transition : all 0.2s cubic-bezier(.12,.64,.59,1.47);
				// transform : scale(1.07);
			}

			@media screen and (max-width : 470px) {
				width : 270px;
				font-size : 18px;
			}
		}

		a {
			text-decoration : none;
		}

}
