// ==============================================
// Colors
// ==============================================

$color-sections: (
	home: #FFFFFF,
	about: #6C9DE1, 
	faq: #5E729C,
	schedule: #34495e,
	sponsors: #FFFFFF
);

$color-button-apply: #E1EAFA;

// ==============================================
// Navigation Colors
// ==============================================

$color-nav-default: #6C9DE1;
// $color-nav-active: #F7C324;
$color-nav-active: #D77828;


// ==================================================
// Breakpoint variables
// ==================================================

$XS: 453px;
$S: 575px;
$M: 820px;
$L: 1140px;
$XL: 2040px;





