
.section__content {
	width: 80%;
	margin: 100px auto 0px auto;

}

.section__content--text {
	font-family: Regular;
	font-size: 2.2rem;
	color: white;
	line-height: 3rem;
}

// ==============================================
// Site Sections
// ==============================================
@import "sections/home";
@import "sections/about";
@import "sections/faq";
@import "sections/schedule";
@import "sections/sponsors";
@import "navigation";

