// ==============================================
// Colors
// ==============================================

$color-sections: (
	home: #FFFFFF,
	about: #6C9DE1, 
	faq: #CBA496,
	schedule: #5E729C
);


$color-button-apply: #E1EAFA;

$color-nav-default: #6C9DE1;

// ==================================================
// Breakpoint variables
// ==================================================

$XS: 288px;
$S: 480px;
$M: 688px;
$L: 912px;
$XL: 2040px;





