.section--about {
  @extend %section;
  height: auto;
  max-height:none;
	background-color: section-color(about);
	@include when(XSMinus) {
	padding-bottom:100px;
	}
}

.section__heading--about {
	@extend %section__heading;
}

.section__content--text__code {
	color: #7936B9;
	font-size: 2.0rem;
	font-family: 'Courier', 'mono';
}

