.section--home {
	@extend %section;
	@include when(XSMinus) {
	padding-bottom:100px;
	}
}

.section--home__logo {
	width: 452px;
	height: 200px;
	background: url('../images/logo_inout.png') no-repeat;
	@include centerer(true, true, 0%, -13%);

	@include when(SMinus) {
		width: 470px;
		height: 186px;
		background: url('../images/logo_inout_small.png') no-repeat;
	}

	@include when(XSMinus) {
		width: 352px;
		height: 135px;
		background: url('../images/logo_inout_xsmall.png') no-repeat;
		@include centerer(true, true, 0%, -10%);
	}


}

.section--home__button_apply {
	@extend %button;
	@include centerer(true, true, 0%, 18%);
	background-color: $color-button-apply;
	width: 190px;
	height: 59px;
	line-height: 59px;
	letter-spacing: 2px;
}

.section--home__heading_location {
	@include centerer(true, true, 0%, 6%);
	font-family : Bold;
	font-size: 2rem;
	color: #fff;
	letter-spacing: 2px;

	@include when(SMinus) {
		font-size: 1.5rem;
		@include centerer(true, true, 0%, 5%);
	}

	@include when(XSMinus) {
		font-size: 1.4rem;
		@include centerer(true, true, 0%, 4%);
	}


}

.section--home__social_links {

	.social_icon {
		padding : 8px;
		color: #fff;
		font-size: 2.4rem;
		&:hover {
			color: rgba(93,111,158, 1);
		}
	}

	li {
		display: inline-block;
		margin-right: 1px;
	}

	width: auto;
	@include centerer(true, true, 0%, -42%);
}


@keyframes bgScrollBack {
    0% {
        background-position: center 0
    }
    100% {
        background-position: center 400px
    }
}
@keyframes bgScrollFront {
    0% {
        background-position: center 0
    }
    100% {
        background-position: center -800px
    }
}

#inout {
	background: #5380c9;
    padding: 0;
	
	.bg-pattern-back 
	{
    background: url("../images/pattern.png") top center repeat;
    background-size: 600px 300px;
    animation: bgScrollBack 50s linear infinite;
	}
	.bg-pattern-front 
	{
    background: url("../images/pattern.png") top center repeat;
    background-size:contain;
    animation: bgScrollFront 50s linear infinite;
	}
	.bg-gradient 
	{   
	height: 800px;
	background-image: -moz-linear-gradient(0deg, rgba(80,196,214,0.90) 0%, rgba(82,113,209,0.90) 100%); /* ff3.6+ */
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(80,196,214,0.90)), color-stop(100%, rgba(82,113,209,0.90))); /* safari4+,chrome */
	background-image: -webkit-linear-gradient(0deg, rgba(80,196,214,0.90) 0%, rgba(82,113,209,0.90) 100%); /* safari5.1+,chrome10+ */
	background-image: -o-linear-gradient(0deg, rgba(80,196,214,0.90) 0%, rgba(82,113,209,0.90) 100%); /* opera 11.10+ */
	background-image: -ms-linear-gradient(0deg, rgba(80,196,214,0.90) 0%, rgba(82,113,209,0.90) 100%); /* ie10+ */
	background-image: linear-gradient(90deg, rgba(80,196,214,0.90) 0%, rgba(82,113,209,0.90) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c4d6', endColorstr='#5271d1',GradientType=1 ); /* ie6-9 */
	}

}

.modal {
    position: fixed;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-signup .modal-dialog,
.modal-dialog {
  width: 768px !important;
  margin-top: 120px;
  /*display: -webkit-box;*/
}

.modal-signup .modal-content,
 .modal-content {
  position: relative;
  box-shadow: none;
  overflow: hidden;
  border: 0;
}
.modal-signup .modal-content .welcome-screen,
.modal-content .welcome-screen  {
  width: 324px;
  float: left;
  display: block;
  background-color: #F38375;
  color: #ffffff;
  padding: 35px 40px;
  height: 100%;
  position: absolute;
  /* border-radius: 7px 0 0 7px; */
}

.welcome ul {
  
position: absolute;
  
bottom: 35px;
font-family: Regular;
color: #fff;
}

.welcome ul > li {
  font-size: 1.8em;
    padding: 12px;
    line-height: 22px;
}

.welcome ul > li:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f05d";
  margin-right: 10px;
}



.modal-signup h3,
.modal-login h3 {
  margin: 0;
  font-weight: 500;
}

/*.dash-rl {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: #CCC;
  margin: 7px 0;
}
.dash-rl:before,
.dash-rl:after {
  content: "";
  position: absolute;
  border-top: 1px solid #CCC;
  top: 7px;
  width: 47%;
}
.dash-rl:before {
  right: 53%;
}
.dash-rl:after {
  left: 53%;
}*/

.register form {
  margin-top: 30px;
  margin-bottom: 0;
}



.register .input-group {
  border: 1px solid #CCC;
  border-radius: 3px;
  overflow: hidden;
}

.register form .form-control {
        height: 47px;
    /* padding: 27px; */
    background-color: #EEEEEE;
    border-radius: 3px;
    box-shadow: none;
    font-size: 12px;
    margin-left: 61px;
    width: 290px;
}

.register form .input-group .form-control {
    height: 47px;
    padding: 12px;
    background-color: #EEEEEE;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

/*.signup-login-screen form .input-group .input-group-addon {
  border: 0;
  border-radius: 0;
}*/
.modal-signup form .checkbox label {
    font-size: .68em;
    line-height: 20px;
}




.modal-login form  p {
  font-size: 0.9em;
  margin: 0;
}


/*.register .row {
    margin-right: -7px;
    margin-left: -7px;
}*/

/*.register .col-md-3,
.welcome .col-md-6,
.welcome .col-md-9 {
  padding-right: 7px;
  padding-left: 7px;
}
*/
.register .btn-primary {
font-size: 1.8em;
    border: none;
    font-weight: 500;
    background: #f38375;
    /*margin-top:20px;*/
    padding: 5px 8px 5px 6px;
    font-family: Regular;
    width:136px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     z-index: 0 !important; 
    background-color: #000;
}

.register .form-group{
   font-family: Regular;
  font-size: 2.0rem;
  color: white;
  line-height: 3rem;
}

.close{
  opacity: 1;
      position: absolute;
    top: 10px;
    right: 19px;
}

.register .control-label{
  display: none;
}

.welcome{
  height: 500px;
  background: #F2777A;
}

.modal--heading{

    font-family: Bold;
    font-size: 2.9rem;
    text-align: center;
     margin: 0px 0px 30px 0px; 
     letter-spacing: 0.02rem; 
}

.register{

  height: 500px;
  /*padding:35px;*/
  background: #fffff;

}


.welcome h1{
padding-top: 40px;
}

#error_id_name, #error_id_email {
  color:#e21515 !important;
  font-size:1.7rem;
  margin-left:60px;
}

.reg-form{
  margin-top: 160px;
  font-family: Regular;
  font-size: 2rem;
}

hr {
    margin-top: 9px;
    margin-bottom: 20px;
    border: 0;
    width: 45%;
    padding: 14px;
    border-top: 12px solid #F2777A;
}

.registration-form{
	background:linear-gradient(10deg, #50c4d6 0%, #5271d1 100%);
}

   .registration-form .form-control{
    width: 100%;
    height: 44px;
    padding: 12px 18px;
    font-family:Regular;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #5277d1;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .registration-form textarea.form-control {
    height: auto;
}


 


.regheader{  
width: 100vw;
    position: fixed;
    height: 17vh;
    top: 3%;
    background: #50a6d4;
    z-index: 1000;
    padding-top: 53px;
    padding-left: 40%;


}

.regheader li{
	margin-right:10px !important;
	font-size:4rem;
}


.regheader .social_icon{
	font-size:3rem !important;

}


.btn-submit{
    color: #fff;
    background-color: #337ab7;
    font-size: 1.2em;
    border: none;
    font-weight: 500;
    background: #f38375;
    margin-top: 20px;
    padding: 5px 8px 5px 8px;
    font-family: Regular;
    width: 140px;

}





.teamdata {
	position: fixed;
    font-family: Regular;
    color: beige;
    font-size: 2.4rem;

	@include when(SMinus) {
	position:relative !important;
	}

	@include when(XSMinus) {
	position:relative !important;
	}

	@include when(LMinus) {
	position:relative !important;
	}
	
	@media screen and (max-width : $third_breakpoint) {
					position:relative !important;
				}


}