.section--sponsors{

@extend %section;
 height : auto !important;
 max-height:initial;
		
		padding: 20px;
	

		.title {
			@extend %section__heading;
			color  : #34495e;
			padding-top : 20px;
			@include when(XSMinus){
			margin-left:10px;
			font-size:2.2rem;
			}
		}

.sponsor{
	width:100% !important;
}

		.box {
  width: 100%;
  margin-bottom:45px;


.row {
  margin: 20px auto;
}

.five {
  display: block;
  float: left;
  //margin: 0;
  max-height: 100px;
  width: 12%;
  //margin-right: -10%;
  margin-left: 1%;
}

.five:first-child {
  margin-left: 20%;
}


.six {
  display: block;
  float: left;
  max-height: 100px;
  width: 12%;
}

.six:first-child {
  margin-left: 14%;
}


.four {
  display: block;
  float: left;
  margin: 0;
  width: 25%;
}

.three {
  display: block;
  float: left;
  width: 20%;
}
.three:first-child {
  margin-left: 25%;
}

.two {
  display: block;
  float: left;
  width: 20%;
}
.two:first-child {
  margin-left: 33%;
}



.two2 {
  display: block;
  float: left;
  width: 20%;
}
.two2:first-child {
  margin-left: 31%;
}

.one {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 35%;
}

img {
  width: 100%;
  position: relative;
  padding: 2%;
  top: 50%;
  transform: translateY(-50%);
  @include when(XSMinus){
  padding:0px !important;
  }
  @include when(SMinus){
  padding:0px !important;
  }
}
.img-md{
  width:75% !important;
}
.logo_gitlab{
  width: 50% !important;
}
.logo_github{
	margin-left:-28% !important;
}
.logo_do {
	margin-left:-18% !important;
  width:120% !important;
}
.logo_branch {
  margin-left: 30px;
  margin-top: -10px;
  @include when(SMinus) {
  margin-left:10px;
  }
  @include when(XSMinus) {
  margin-left:9px;
  }
}

.logo_rethinkdb {
  margin-left:20px;
}

.logo_twitter{
	width:66% !important;
	margin-left:-5%;
}
.logo_exotel {
  width:60%;
  margin-left:-35px;
  @include when(SMinus) {
  margin-left:0px !important;
  } 
  @include when(LMinus) {
  margin-left:0px !important;
  }
}
.logo_meteor{
  margin-left: -19% !important;
  width: 127%;
  margin-top: -7px;
  @include when(XSMinus) {
  margin-top:-1px !important;
  }
  @include when(SMinus) {
  margin-top:-1px !important;
  }
  @media screen and (max-width : $fourth_breakpoint) {
  margin-top:-1px !important;

  }
}
.logo_keen {
  width: 37% !important;
}
.logo_teqip{
  width:50%;
}
.logo_kloudless {
    width: 87%;
    margin-left: -31px;
    @include when(XSMinus) {
    margin-left:-10px;
    }
}
.logo_gdg {
  width: 88% !important;
}

.logo_intel {
  width: 40% !important;
  margin-left:50px;
  @include when(XSMinus) {
  margin-left:0px !important;
  }
  @include when(SMinus) {
  margin-left:20px !important;
  }
}
.logo_wingify {
  margin-left:-70px;
  @include when(LMinus) {
  margin-left:0px;
  }
  @include when(XSMinus) {
  margin-left:0px;
  }
  @include when(MSMinus) {
  margin-left:0px;
  }
}
.logo_cl {
	width:60% !important;
}
.logo_ptbn {
  width: 42% !important;
  margin-top:30px !important;
}
.logo_sendgrid {
 width:65%; 
}
.logo_invision {
  width:55%;
}
.logo_UXPin {
  width:30%;
  margin-left: -31px;
  @include when(SMinus) {
  margin-left: -10px;
  }
}
.logo_wolfram {
  width:60%;
}
.logo_partner {
  width:50%;
}
.logo_udacity {
  margin-top: 5%;
}
.merchandise {
padding-top: 0px !important;
margin-top: -10px;
}
.logo_coolbird {
  width: 30%;
  margin-top: 50px;
}
.sponsor {
  	display : inline-block;
  	width : auto;
  	height : 90px;
  	margin : 30px;
  	@media screen and (max-width : $third_breakpoint) {
  		height : 60px;
  	}
  	@media screen and (max-width : $fourth_breakpoint) {
  		height : 40px;
  	}
  }
  }
		
	p {
			font-size : 2.3rem;
    		padding-bottom : 3pc;
    		line-height : normal;
    		color : #FEC537;
    		text-align : center;
    		color : #303030;
    		margin-top : 40px;
			@media screen and (max-width : $second_breakpoint) {
				font-size : 2.5rem;
			}
			@media screen and (max-width : 410px) {
				font-size : 2.2rem;
			}

		}


		a {
			text-decoration : none;
			color:#6c9de1;
		}
		a:hover{
		color:black;
		text-decoration:line;
		}

}
