.modal {
    position: fixed;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}


.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-signup .modal-dialog,
.modal-dialog {
  width: 768px !important;
  margin-top: 120px;
  @include when(XSMinus){
  width:90vw !important;
  }
}

.modal-signup .modal-content,
 .modal-content {
  position: relative;
  box-shadow: none;
  overflow: hidden;
  border: 0;
  @media (min-width: 454px) and (max-width: 767px){
    width:90vw;
    }

}
.modal-signup .modal-content .welcome-screen,
.modal-content .welcome-screen  {
  width: 324px;
  float: left;
  display: block;
  background-color: #F38375;
  color: #ffffff;
  padding: 35px 40px;
  height: 100%;
  position: absolute;
  /* border-radius: 7px 0 0 7px; */
}





.modal-signup h3,
.modal-login h3 {
  margin: 0;
  font-weight: 500;
}



.register form {
  margin-top: 30px;
  margin-bottom: 0;
  min-height: 100vh;
@media (min-width: 454px) and (max-width: 767px){
          position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
    width:100%;
    }
}



.register .input-group {
  border: 1px solid #CCC;
  border-radius: 3px;
  overflow: hidden;
}

.register form .form-control {
        height: 47px;
    /* padding: 27px; */
    background-color: #EEEEEE;
    border-radius: 3px;
    font-family: Regular;
    font-size: 1.8rem;
    box-shadow: none;
    /*margin-left: 61px;*/
    /*width: 290px;*/
}

.register form .input-group .form-control {
    height: 47px;
    padding: 12px;
    background-color: #EEEEEE;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}


.modal-signup form .checkbox label {
    font-size: .68em;
    line-height: 20px;
}




.modal-login form  p {
  font-size: 0.9em;
  margin: 0;
}



.register .btn-primary {
font-size: 1.8em;
    border: none;
    font-weight: 500;
    background: #f38375;
    /*margin-top:20px;*/
    padding: 5px 8px 5px 6px;
    font-family: Regular;
    width:136px;
    margin-bottom:13px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     z-index: 0 !important; 
    background-color: #000;
}

.register .form-group{
   font-family: Regular;
  font-size: 2.0rem;
  color: white;
  line-height: 3rem;
}

.close{
  opacity: 1;
      position: absolute;
    top: 10px;
    right: 19px;
}

.register .control-label{
  display: none;
}



.modal--heading{

    font-family: Bold;
    font-size: 2.9rem;
    text-align: center;
     margin: 0px 0px 10px 0px; 
     letter-spacing: 0.02rem; 
}

.register{

  height: 500px;
  padding-top:60px;
  background: #fffff;

  @include when(XSMinus){
  width:auto !important;
  }
 
 img{
 width:218px;
 }
}


.welcome{
  height: 500px;
  background: #F2777A;
  @include when(XSMinus){
  display:none;
  }
   @include when(SMinus){
  display:none;
  }
  h1
  {
  padding-top: 40px;
  }
  ul 
  {
  position: absolute;
  bottom: 35px;
  font-family: Regular;
  color: #fff;
  }
}



.welcome ul > li {
  font-size: 1.8em;
    padding: 12px;
    line-height: 22px;
}

.welcome ul > li:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f05d";
  margin-right: 10px;
}



#error_id_name, #error_id_email {
  color:#e21515 !important;
  font-size:1.7rem;
  text-align:left;
 /* margin-left:60px;*/
}

.reg-form{
  margin-top: 160px;
  font-family: Regular;
  font-size: 2rem;
}

hr {
    margin-top: 9px;
    margin-bottom: 20px;
    border: 0;
    width: 45%;
    padding: 14px;
    border-top: 12px solid #F2777A;
}

.registration-form{
	background:linear-gradient(10deg, #50c4d6 0%, #5271d1 100%);
}

   .registration-form .form-control{
    width: 100%;
    height: 44px;
    padding: 12px 18px;
    font-family:Regular;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #5277d1;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .registration-form textarea.form-control {
    
    height: 100px;
    max-width: 100%;
}


 


.regheader
{  
	width: 100vw;
    position: fixed;
    height: 17vh;
    top: 3%;
    background: #50a6d4;
    z-index: 1000;
    padding-top: 53px;
    padding-left: 40%;
	@include when(SMinus) {
	padding-left:29%
	}

	@include when(XSMinus) {
	padding-left:24%;
	}
	@media screen and (max-width : $fifth_breakpoint) {
	padding-left:15%;
		}

	li{
	margin-right:10px !important;
	font-size:4rem;
	}
	.social_icon{
	font-size:3rem !important;
	}

}

.header{
	.section--home__social_links{
	@include when(SMinus) {
	left:47%;
	}

	@include when(XSMinus) {
	left:46%;
	}


	}
}



.btn-submit{
    color: #fff;
    background-color: #337ab7;
    font-size: 1.2em;
    border: none;
    font-weight: 500;
    background: #f38375;
    margin-top: 20px;
    padding: 5px 8px 5px 8px;
    font-family: Regular;
    width: 140px;

}





.teamdata {
	position: fixed;
    font-family: Regular;
    color: beige;
    font-size: 2.4rem;

	@include when(SMinus) {
	position:relative !important;
	}

	@include when(XSMinus) {
	position:relative !important;
	}

	@include when(LMinus) {
	position:relative !important;
	}
	
	@media screen and (max-width : $third_breakpoint) {
					position:relative !important;
				}
	img{
	@include when(SMinus) {
	width:200px;;
	}

	@include when(XSMinus) {
	width:174px !important;
	}

	@include when(LMinus) {
	width:218px;
	}
	
	}			

}

