/* line 5, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_placeholders.scss */
.section--home, .section--about, .section--faq, .section--schedule, .section--sponsors {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-height: 800px;
  overflow: hidden;
}

/* line 9, ../sass/partials/_placeholders.scss */
.section--home__button_apply {
  background: #000000;
  color: #000000;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  font-family: Bold;
  font-size: 1.6rem;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 20, ../sass/partials/_placeholders.scss */
.section--home__button_apply:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1, ../sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 2, ../sass/partials/_layout.scss */
.section__content {
  width: 80%;
  margin: 100px auto 0px auto;
}

/* line 8, ../sass/partials/_layout.scss */
.section__content--text {
  font-family: Regular;
  font-size: 2.2rem;
  color: white;
  line-height: 3rem;
}

/* line 1, ../sass/partials/sections/_home.scss */
.section--home {
  background-color: #FFFFFF;
}

/* line 6, ../sass/partials/sections/_home.scss */
.section--home__logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 10, ../sass/partials/sections/_home.scss */
.section--home__pattern_code {
  position: absolute;
  top: 12%;
  transform: translate(0, -50%);
}

/* line 14, ../sass/partials/sections/_home.scss */
.section--home__pattern_brackets {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/* line 18, ../sass/partials/sections/_home.scss */
.section--home__button_apply {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E1EAFA;
  width: 190px;
  height: 59px;
  line-height: 59px;
  letter-spacing: 2px;
}

/* line 28, ../sass/partials/sections/_home.scss */
.section--home__heading_location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Bold;
  font-size: 2rem;
  color: #989DAF;
  letter-spacing: 2px;
}

/* line 1, ../sass/partials/sections/_about.scss */
.section--about {
  background-color: #6C9DE1;
}

/* line 1, ../sass/partials/sections/_faq.scss */
.section--faq {
  background-color: #CBA496;
}

/* line 1, ../sass/partials/sections/_schedule.scss */
.section--schedule {
  background-color: #5E729C;
}
/* line 5, ../sass/partials/sections/_schedule.scss */
.section--schedule p {
  font-size: 1.4rem;
  font-family: Regular;
  color: #777777;
}
/* line 10, ../sass/partials/sections/_schedule.scss */
.section--schedule h2 {
  font-family: Regular;
  color: #ffffff;
  font-size: 2.3rem;
}
/* line 15, ../sass/partials/sections/_schedule.scss */
.section--schedule .timing li {
  display: block;
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  background: #fff;
  font-size: 1.5rem;
  font-family: bold;
  width: 240px;
  border: 1px solid #fff;
  border-radius: 3px;
}
/* line 27, ../sass/partials/sections/_schedule.scss */
.section--schedule .imp {
  background: #C4DC52 !important;
  color: #fff !important;
  border: 1px solid #C4DC52 !important;
}
/* line 32, ../sass/partials/sections/_schedule.scss */
.section--schedule .time {
  color: #fff !important;
}

/* line 1, ../sass/partials/sections/_sponsors.scss */
.section--sponsors {
  background-color: #FFFFFF;
}

/* line 1, ../sass/partials/_navigation.scss */
.navigation {
  position: absolute;
  background-color: #6C9DE1;
  height: 90px;
  width: 100vw;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* line 11, ../sass/partials/_navigation.scss */
.navigation__nav, .navigation__nav--active {
  display: inline-block;
  height: 90px;
  width: 150px;
  line-height: 90px;
  vertical-align: middle;
  font-family: Regular;
  letter-spacing: 2px;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 10px;
}
/* line 22, ../sass/partials/_navigation.scss */
.navigation__nav:hover, .navigation__nav--active:hover {
  background-color: #D57053;
}
/* line 26, ../sass/partials/_navigation.scss */
.navigation__nav:last-child, .navigation__nav--active:last-child {
  margin-right: 0px;
}

/* line 31, ../sass/partials/_navigation.scss */
.navigation__nav--active {
  text-decoration: none;
  background-color: #D57053;
}

/* line 37, ../sass/partials/_navigation.scss */
.navigation__nav__link {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 40, ../sass/partials/_navigation.scss */
.navigation__nav__link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/proximanova-regular-webfont.eot?") format("eot"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Regular") format("svg");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/proximanova-bold-webfont.eot?") format("eot"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#Bold") format("svg");
}
