/* line 9, ../sass/partials/_base.scss */
h1 {
  font-size: 5em;
}
@media only screen and (min-width: 288px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: red;
  }
}
@media only screen and (min-width: 480px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: lime;
  }
}
@media only screen and (min-width: 688px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: blue;
  }
}
@media only screen and (min-width: 912px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: #b2f89b;
  }
}
@media only screen and (min-width: 288px) and (max-width: 479px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: #e4369d;
  }
}
@media only screen and (min-width: 480px) and (max-width: 687px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: #f19726;
  }
}
@media only screen and (min-width: 688px) and (max-width: 911px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: #fffa2a;
  }
}
@media only screen and (min-width: 912px) and (max-width: 2039px) {
  /* line 9, ../sass/partials/_base.scss */
  h1 {
    color: #882699;
  }
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkred"] {
  color: #FF0000;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkorange"] {
  color: #FFBF00;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkyellow"] {
  color: #FFFF00;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkgreen"] {
  color: #7FFF00;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linklightblue"] {
  color: #007FFF;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkcyan"] {
  color: #00FFFF;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkblue"] {
  color: #0000FF;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkpurple"] {
  color: #7F00FF;
}

/* line 59, ../sass/partials/_base.scss */
a[href^="linkmagenta"] {
  color: #FF00FF;
}

/* line 66, ../sass/partials/_base.scss */
.buy_1 {
  color: blue;
}

/* line 66, ../sass/partials/_base.scss */
.buy_2 {
  color: blue;
}

/* line 66, ../sass/partials/_base.scss */
.buy_3 {
  color: blue;
}
