html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.section--home, .section--about, .section--faq, .section--schedule, .section--sponsors, .section--footer {
  width: 100vw;
  height: 100vh;
  position: relative;
  max-height: 800px;
  min-width: 450px;
  overflow: hidden;
  padding-bottom: 150px;
}

.section__heading--about, .section__heading--faq, .section__heading--schedule, .section--sponsors .title {
  color: #FFFFFF;
  font-family: Bold;
  font-size: 4rem;
  text-align: center;
  margin: 0px 0px 40px 0px;
  letter-spacing: 0.5rem;
}

.section--home__button_apply {
  background: #000000;
  color: #000000;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  font-family: Bold;
  font-size: 1.6rem;
  transition: all 0.1s ease-in-out;
}
.section--home__button_apply:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.section__content {
  width: 70%;
  margin: 100px auto 0px auto;
}
@media only screen and (max-width: 453px) {
  .section__content {
    width: 88%;
  }
}

.section__content--text {
  font-family: Regular;
  font-size: 2.2rem;
  color: white;
  line-height: 3rem;
}
.section__content--text a {
  text-decoration: underline;
  color: #FFFFFF;
}
.section__content--text a:hover {
  color: #FFFFFF;
}

@media only screen and (max-width: 453px) {
  .section--home {
    padding-bottom: 100px;
  }
}

.section--home__logo {
  width: 452px;
  height: 200px;
  background: url("../images/logo_inout.png") no-repeat;
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 575px) {
  .section--home__logo {
    width: 470px;
    height: 186px;
    background: url("../images/logo_inout_small.png") no-repeat;
  }
}
@media only screen and (max-width: 453px) {
  .section--home__logo {
    width: 352px;
    height: 135px;
    background: url("../images/logo_inout_xsmall.png") no-repeat;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.section--home__button_apply {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #E1EAFA;
  width: 190px;
  height: 59px;
  line-height: 59px;
  letter-spacing: 2px;
}

.section--home__heading_location {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Bold;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}
@media only screen and (max-width: 575px) {
  .section--home__heading_location {
    font-size: 1.5rem;
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 453px) {
  .section--home__heading_location {
    font-size: 1.4rem;
    position: absolute;
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.section--home__social_links {
  width: auto;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.section--home__social_links .social_icon {
  padding: 8px;
  color: #fff;
  font-size: 2.4rem;
}
.section--home__social_links .social_icon:hover {
  color: #5d6f9e;
}
.section--home__social_links li {
  display: inline-block;
  margin-right: 1px;
}

@-webkit-keyframes bgScrollBack {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 400px;
  }
}

@keyframes bgScrollBack {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 400px;
  }
}
@-webkit-keyframes bgScrollFront {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -800px;
  }
}
@keyframes bgScrollFront {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center -800px;
  }
}
#inout {
  background: #5380c9;
  padding: 0;
}
#inout .bg-pattern-back {
  background: url("../images/pattern.png") top center repeat;
  background-size: 600px 300px;
  -webkit-animation: bgScrollBack 50s linear infinite;
  animation: bgScrollBack 50s linear infinite;
}
#inout .bg-pattern-front {
  background: url("../images/pattern.png") top center repeat;
  background-size: contain;
  -webkit-animation: bgScrollFront 50s linear infinite;
  animation: bgScrollFront 50s linear infinite;
}
#inout .bg-gradient {
  height: 800px;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background-image: linear-gradient(90deg, rgba(80, 196, 214, 0.9) 0%, rgba(82, 113, 209, 0.9) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c4d6', endColorstr='#5271d1',GradientType=1 );
  /* ie6-9 */
}

.section--about {
  height: auto;
  max-height: none;
  background-color: #6C9DE1;
}
@media only screen and (max-width: 453px) {
  .section--about {
    padding-bottom: 100px;
  }
}

.section__content--text__code {
  color: #7936B9;
  font-size: 2.4rem;
  font-family: 'Courier', 'mono';
}

.section--faq {
  background-color: #5E729C;
  height: auto;
  max-height: none;
}
@media only screen and (max-width: 453px) {
  .section--faq {
    padding-bottom: 100px;
  }
}

.section__heading--faq {
  margin-bottom: 80px;
}

.wrap {
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none !important;
}

.panel {
  /*border-width: 4px;*/
  border-color: #fff;
  background: none;
  box-shadow: none;
  border: 4px solid #fff !important;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 4px;
  margin-bottom: 10px;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #5e729c;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  font-family: Regular;
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
}

.panel-body {
  background: #fff;
  font-family: Regular;
  font-size: 2.0rem;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}

/* #bs-collapse icon scale option */
.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s;
}

/* #accordion rotate icon option */
#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.5s;
}

.section--schedule {
  background-color: #34495e;
  max-height: none;
  height: auto;
}
@media only screen and (max-width: 453px) {
  .section--schedule {
    padding-bottom: 100px;
  }
}

.section__heading--schedule {
  margin-bottom: 80px;
}

.schedule__heading--left, .schedule__heading--right {
  display: block;
  font-family: Bold;
  padding: 10px 10px 10px 20px;
  color: #FFFFFF;
  font-size: 2.2rem;
  margin-bottom: 30px;
  border-radius: 4px;
}
@media only screen and (max-width: 453px) {
  .schedule__heading--left, .schedule__heading--right {
    text-align: center;
  }
}

.schedule__item__icon, .schedule__item__time, .schedule__item__event {
  display: inline-block;
  font-family: Regular;
  font-size: 2.4rem;
  margin: 0px 8px 0px 8px;
}
@media only screen and (max-width: 453px) {
  .schedule__item__icon, .schedule__item__time, .schedule__item__event {
    font-size: 1.90rem;
  }
}

.schedule__heading--left {
  background-color: #828DB7;
}

.schedule__heading--right {
  background-color: #91A786;
}

@media only screen and (max-width: 453px) {
  .schedule__list {
    text-align: left;
    margin-left: 10%;
  }
}

.schedule__item--morning, .schedule__item--noon, .schedule__item--evening, .schedule__item--night {
  margin: 0px 0px 20px 0px;
  background-repeat: no-repeat;
  background-position: 1.7% 50%;
  padding: 3px 0px 3px 10px;
}

.schedule__item--morning {
  background-image: url("../images/icon_sun_morning.png");
}

.schedule__item--noon {
  background-image: url("../images/icon_sun_noon.png");
  background-position: 0% 50%;
}

.schedule__item--evening {
  background-image: url("../images/icon_sun_eve.png");
}

.schedule__item--night {
  background-image: url("../images/icon_moon.png");
}

.schedule__item__icon {
  vertical-align: super;
}

.schedule__item__time {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  min-width: 100px;
  text-align: right;
}

.schedule__item__event {
  color: white;
}

.section--sponsors {
  height: auto !important;
  max-height: initial;
  padding: 20px;
}
.section--sponsors .title {
  color: #34495e;
  padding-top: 20px;
}
@media only screen and (max-width: 453px) {
  .section--sponsors .title {
    margin-left: 10px;
    font-size: 3.5rem;
  }
}
.section--sponsors .description {
  margin-bottom: 45px;
  text-align: center;
}
.section--sponsors .description .sponsor, .section--sponsors .description .prime_sponsor, .section--sponsors .description .platinum_sponsor, .section--sponsors .description .gold_sponsor, .section--sponsors .description .silver_sponsor, .section--sponsors .description .bronze_sponsor {
  display: inline-block;
  width: auto;
  height: 90px;
  margin: 30px;
}
@media screen and (max-width: 600px) {
  .section--sponsors .description .sponsor, .section--sponsors .description .prime_sponsor, .section--sponsors .description .platinum_sponsor, .section--sponsors .description .gold_sponsor, .section--sponsors .description .silver_sponsor, .section--sponsors .description .bronze_sponsor {
    height: 60px;
  }
}
@media screen and (max-width: 485px) {
  .section--sponsors .description .sponsor, .section--sponsors .description .prime_sponsor, .section--sponsors .description .platinum_sponsor, .section--sponsors .description .gold_sponsor, .section--sponsors .description .silver_sponsor, .section--sponsors .description .bronze_sponsor {
    height: 40px;
  }
}
.section--sponsors .description .prime_sponsor {
  height: 120px;
}
@media screen and (max-width: 600px) {
  .section--sponsors .description .prime_sponsor {
    height: 80px;
  }
}
@media screen and (max-width: 485px) {
  .section--sponsors .description .prime_sponsor {
    height: 60px;
  }
}
@media only screen and (max-width: 453px) {
  .section--sponsors .description .platinum_sponsor {
    height: 80px;
  }
}
.section--sponsors .description .gold_sponsor {
  height: 120px;
}
@media screen and (max-width: 600px) {
  .section--sponsors .description .gold_sponsor {
    height: 40px;
  }
}
@media screen and (max-width: 485px) {
  .section--sponsors .description .gold_sponsor {
    height: 30px;
  }
}
.section--sponsors .description .silver_sponsor {
  height: 80px;
}
@media screen and (max-width: 600px) {
  .section--sponsors .description .silver_sponsor {
    height: 40px;
  }
}
@media screen and (max-width: 485px) {
  .section--sponsors .description .silver_sponsor {
    height: 30px;
  }
}
.section--sponsors .description .bronze_sponsor {
  height: 50px;
}
@media screen and (max-width: 600px) {
  .section--sponsors .description .bronze_sponsor {
    height: 40px;
  }
}
@media screen and (max-width: 485px) {
  .section--sponsors .description .bronze_sponsor {
    height: 30px;
  }
}
.section--sponsors p {
  font-size: 2.3em;
  padding-bottom: 3pc;
  line-height: normal;
  color: #FEC537;
  text-align: center;
  color: #303030;
  margin-top: 40px;
}
@media screen and (max-width: 720px) {
  .section--sponsors p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 410px) {
  .section--sponsors p {
    font-size: 1.2em;
  }
}
.section--sponsors a {
  text-decoration: none;
  color: #6c9de1;
}
.section--sponsors a:hover {
  color: black;
  text-decoration: line;
}

.section--footer {
  text-align: center;
  height: auto !important;
  max-height: auto !important;
  padding: 0 !important;
}
@media only screen and (max-width: 575px) {
  .section--footer {
    min-width: auto;
  }
}
@media only screen and (max-width: 453px) {
  .section--footer {
    min-width: auto;
  }
}

.section--footer__logo {
  display: block;
  max-width: 100%;
  padding-bottom: 15px;
  margin: auto;
}
@media only screen and (max-width: 453px) {
  .section--footer__logo {
    width: 50%;
  }
}

.footer--content {
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(90deg, #50c4d6 0%, #5271d1 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50c4d6', endColorstr='#5271d1',GradientType=1 );
  /* ie6-9 */
  padding: 20px 0 20px 0;
}
.footer--content a {
  color: #fff;
}
.footer--content a:hover {
  color: #337ab7;
}
.footer--content .footer--text {
  font-family: Regular;
  font-size: 1.7rem;
  color: white;
}

.navigation {
  position: absolute;
  background-color: #6C9DE1;
  height: 90px;
  width: 100vw;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  min-width: 450px;
}
@media only screen and (max-width: 575px) {
  .navigation {
    padding: 0;
    margin: 0;
  }
}

.navigation__nav, .navigation__nav--active {
  display: inline-block;
  height: 90px;
  width: 150px;
  line-height: 90px;
  vertical-align: middle;
  font-family: Regular;
  letter-spacing: 2px;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 10px;
}
.navigation__nav:hover span, .navigation__nav--active:hover span {
  color: white;
  transition: all, 0.3s;
}
.navigation__nav:last-child, .navigation__nav--active:last-child {
  margin-right: 0px;
}
@media only screen and (max-width: 820px) {
  .navigation__nav, .navigation__nav--active {
    font-size: 1.5rem;
    width: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .navigation__nav, .navigation__nav--active {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
  }
}

.navigation__nav--active {
  text-decoration: none;
  background-color: #D77828;
}
.navigation__nav--active span {
  color: white;
}

.navigation__nav__link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.navigation__nav__link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.navigation__nav--mobile_icon {
  color: #FFFFFF;
}

.modal {
  position: fixed;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1200;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.modal-signup .modal-dialog,
.modal-dialog {
  width: 768px !important;
  margin-top: 120px;
}
@media only screen and (max-width: 453px) {
  .modal-signup .modal-dialog,
  .modal-dialog {
    width: 90vw !important;
  }
}

.modal-signup .modal-content,
.modal-content {
  position: relative;
  box-shadow: none;
  overflow: hidden;
  border: 0;
}
@media (min-width: 454px) and (max-width: 767px) {
  .modal-signup .modal-content,
  .modal-content {
    width: 90vw;
  }
}

.modal-signup .modal-content .welcome-screen,
.modal-content .welcome-screen {
  width: 324px;
  float: left;
  display: block;
  background-color: #F38375;
  color: #ffffff;
  padding: 35px 40px;
  height: 100%;
  position: absolute;
  /* border-radius: 7px 0 0 7px; */
}

.modal-signup h3,
.modal-login h3 {
  margin: 0;
  font-weight: 500;
}

.register form {
  margin-top: 30px;
  margin-bottom: 0;
}
@media (min-width: 454px) and (max-width: 767px) {
  .register form {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}

.register .input-group {
  border: 1px solid #CCC;
  border-radius: 3px;
  overflow: hidden;
}

.register form .form-control {
  height: 47px;
  /* padding: 27px; */
  background-color: #EEEEEE;
  border-radius: 3px;
  font-family: Regular;
  font-size: 1.8rem;
  box-shadow: none;
  /*margin-left: 61px;*/
  /*width: 290px;*/
}

.register form .input-group .form-control {
  height: 47px;
  padding: 12px;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.modal-signup form .checkbox label {
  font-size: .68em;
  line-height: 20px;
}

.modal-login form p {
  font-size: 0.9em;
  margin: 0;
}

.register .btn-primary {
  font-size: 1.8em;
  border: none;
  font-weight: 500;
  background: #f38375;
  /*margin-top:20px;*/
  padding: 5px 8px 5px 6px;
  font-family: Regular;
  width: 136px;
  margin-bottom: 13px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  background-color: #000;
}

.register .form-group {
  font-family: Regular;
  font-size: 2.0rem;
  color: white;
  line-height: 3rem;
}

.close {
  opacity: 1;
  position: absolute;
  top: 10px;
  right: 19px;
}

.register .control-label {
  display: none;
}

.modal--heading {
  font-family: Bold;
  font-size: 2.9rem;
  text-align: center;
  margin: 0px 0px 10px 0px;
  letter-spacing: 0.02rem;
}

.register {
  height: 500px;
  padding-top: 60px;
  background: #fffff;
}
@media only screen and (max-width: 453px) {
  .register {
    width: auto !important;
  }
}
.register img {
  width: 218px;
}

.welcome {
  height: 500px;
  background: #F2777A;
}
@media only screen and (max-width: 453px) {
  .welcome {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .welcome {
    display: none;
  }
}
.welcome h1 {
  padding-top: 40px;
}
.welcome ul {
  position: absolute;
  bottom: 35px;
  font-family: Regular;
  color: #fff;
}

.welcome ul > li {
  font-size: 1.8em;
  padding: 12px;
  line-height: 22px;
}

.welcome ul > li:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f05d";
  margin-right: 10px;
}

#error_id_name, #error_id_email {
  color: #e21515 !important;
  font-size: 1.7rem;
  text-align: left;
  /* margin-left:60px;*/
}

.reg-form {
  margin-top: 160px;
  font-family: Regular;
  font-size: 2rem;
}

hr {
  margin-top: 9px;
  margin-bottom: 20px;
  border: 0;
  width: 45%;
  padding: 14px;
  border-top: 12px solid #F2777A;
}

.registration-form {
  background: linear-gradient(10deg, #50c4d6 0%, #5271d1 100%);
}

.registration-form .form-control {
  width: 100%;
  height: 44px;
  padding: 12px 18px;
  font-family: Regular;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #5277d1;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.registration-form textarea.form-control {
  height: 100px;
  max-width: 100%;
}

.regheader {
  width: 100vw;
  position: fixed;
  height: 17vh;
  top: 3%;
  background: #50a6d4;
  z-index: 1000;
  padding-top: 53px;
  padding-left: 40%;
}
@media only screen and (max-width: 575px) {
  .regheader {
    padding-left: 29%;
  }
}
@media only screen and (max-width: 453px) {
  .regheader {
    padding-left: 24%;
  }
}
@media screen and (max-width: 345px) {
  .regheader {
    padding-left: 15%;
  }
}
.regheader li {
  margin-right: 10px !important;
  font-size: 4rem;
}
.regheader .social_icon {
  font-size: 3rem !important;
}

@media only screen and (max-width: 575px) {
  .header .section--home__social_links {
    left: 47%;
  }
}
@media only screen and (max-width: 453px) {
  .header .section--home__social_links {
    left: 46%;
  }
}

.btn-submit {
  color: #fff;
  background-color: #337ab7;
  font-size: 1.2em;
  border: none;
  font-weight: 500;
  background: #f38375;
  margin-top: 20px;
  padding: 5px 8px 5px 8px;
  font-family: Regular;
  width: 140px;
}

.teamdata {
  position: fixed;
  font-family: Regular;
  color: beige;
  font-size: 2.4rem;
}
@media only screen and (max-width: 575px) {
  .teamdata {
    position: relative !important;
  }
}
@media only screen and (max-width: 453px) {
  .teamdata {
    position: relative !important;
  }
}
@media only screen and (max-width: 1140px) {
  .teamdata {
    position: relative !important;
  }
}
@media screen and (max-width: 600px) {
  .teamdata {
    position: relative !important;
  }
}
@media only screen and (max-width: 575px) {
  .teamdata img {
    width: 200px;
  }
}
@media only screen and (max-width: 453px) {
  .teamdata img {
    width: 174px !important;
  }
}
@media only screen and (max-width: 1140px) {
  .teamdata img {
    width: 218px;
  }
}

@font-face {
  font-family: "Regular";
  src: url("../fonts/proximanova-regular-webfont.eot?") format("eot"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Regular") format("svg");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/proximanova-bold-webfont.eot?") format("eot"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#Bold") format("svg");
}
